<div class='task-container'>
    <div class= 'header-container'>
        <div>
            <h1>{{task.title | titlecase}}</h1>
            <span>Due: {{task.dueDate | date}}</span>
        </div>
        <div>
            <button mat-icon-button>
                <mat-icon *ngIf="!task.complete">assignment</mat-icon>
                <mat-icon *ngIf="task.complete">assignment_turned_in</mat-icon>
            </button>
            <button mat-icon-button><mat-icon>delete_forever</mat-icon></button>
            <button mat-icon-button><mat-icon>edit</mat-icon></button>
        </div>
    </div>
    <p>{{task.description}}</p>
</div>